@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@theme {
  --color-background: #FFFF;
  --color-text: #202020;
  --color-secondary:#D4D4D4;
  --color-third: #F6F6F6;

  --color-background-dark: #202020;
  --color-text-dark: #FFFFFF;
  --color-secondary-dark:#7F7F7F;
  --color-third-dark: #A1A1A1;
  --color-background2-dark: #2B2B2B;

  --font-roboto: 'Roboto', 'sans-serif';
  --font-notosans:'Noto Sans', 'sans-serif';
  --font-outfit:'Outfit','sans-serif';
}

@layer base{
    body{
        @apply bg-background dark:bg-background-dark;
    }
    /* Typography Styling */
    h1,h2,h3,p,span,a{
        @apply dark:text-text-dark;
    }
    h1{
        @apply antialiased font-outfit text-3xl font-bold;
    }
    h2{
        @apply antialiased font-outfit text-3xl font-light;
    }
    p{
        @apply antialiased font-roboto text-xl font-normal ;
    }
    a{
        @apply antialiased font-notosans text-base font-normal hover:underline;
    }

    /* Form Styling*/
    input[type="text"],
    input[type="email"],
    input[type="password"]{
        @apply w-full px-4 py-3 border-2 border-background2-dark rounded-lg dark:bg-background
    }
    label{
        @apply font-roboto text-sm font-light dark:text-text-dark
    }
    textarea{
        @apply outline-none dark:text-text-dark dark:placeholder-text-dark
    }
    ::placeholder{
        @apply opacity-75 text-sm
    }
    button{
        @apply w-full px-4 py-3 bg-background2-dark dark:bg-background text-text-dark dark:text-text rounded-lg font-outfit text-base hover:bg-background-dark
    }


    hr{
        @apply bg-background-dark dark:bg-background
    }
}

@layer components{

    /* Outer Container for the chat box */
    .input-chat-container{
        @apply border border-background2-dark dark:bg-background2-dark ;
    }

    /* SVG Styling for Logo*/
    .logo circle{
        @apply dark:stroke-background;
    }
    .logo .letter{
        @apply dark:stroke-background;
    }
    .logo path{
        @apply fill-background-dark dark:fill-background;
    }

    /* SVG Styling for Send Btn in ChatBox*/
    .send-svg{
        @apply dark:fill-background2-dark
    }
    .send-svg path{
        @apply fill-white dark:fill-background2-dark
    }
    .send-svg rect{
        @apply dark:fill-white
    }

    /* SVG Styling for Lines Btn*/
    .lines-svg path{
        @apply dark:fill-background
    }

    /* Style for Button */
    .button-styled{
        @apply bg-third text-text hover:bg-secondary
    }
}

@layer utilities{
    .clickeable{
        @apply cursor-pointer
    }

    /* Error CSS */
    .error{
        @apply text-red-600 border-red-600
    }
    .error-field{
        @apply text-red-600 border-red-600
    }

}